.about-container{
    display: flex;
    justify-content: center;
    margin: 0 24px 40px 24px;
    padding: 80px 16px;
    background-color: rgba(225, 231, 241, 0.3);
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-content{
    max-width: 880px;
    overflow: hidden;
}

.about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.about-info{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.about-info-item {
    word-wrap: break-word;
}
